<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/prism.css">
  <link rel="stylesheet" type="text/css" href="static/css/web-console.css">
  <script src="static/js/jquery-3.1.0.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/prism.js" data-manual></script>
  <script src="static/js/web-console.js"></script>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand"><span id="host"></span></p>
      </div>
    </div>
  </nav>
  <div class="container language-python">
    <div class="row">
      <div class="col-sm-8">
        <p><strong>Current file:</strong> <samp><span id="filename"></span>(<span id="curr_line"></span>)</samp></p>
        <pre id="curr_frame" class="line-numbers info"><code id="curr_frame_code"></code></pre>
      </div>
      <div class="col-sm-4">
        <p><strong>Variables</strong></p>
        <pre class="info"><code id="vars"></code></pre>
      </div>
      <div class="col-sm-12">
        <p><strong>PDB Console</strong></p>
        <pre id="console"><code id="stdout"></code></pre>
      </div>
      <div class="col-sm-12">
        <div class="input-group">
          <div class="input-group-addon">(Pdb)</div>
          <input class="form-control" id="stdin" type="text">
          <span class="input-group-btn">
            <a id="send-btn" class="btn btn-default">Send</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
